body, html {
    font-family: 'Exo 2', sans-serif;
    color: #cdcdcd;
    text-shadow: 0 0 1px #000;
    text-align: center;
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../images/table.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.top-section {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #ffff00;
    border: none;
    cursor: pointer;
    padding: .6rem 1rem;
}

.remaining-cards {
    margin: 0;
}

.title {
    font-size: 2rem;
    margin-bottom: 0;
}

.new-deck {
    margin: .3rem .4rem;
    padding: .5rem 1rem;
    box-shadow: 1px 1px 3px #000;
}

.card-slot {
    border: 1px solid #000;
    border-radius: 10px;
    height: 150px;
    width: calc(150px * 5 / 7);
    margin: 0 auto;
}

.card-slot:first-child {
    margin-bottom: 1.3rem;
}

.card {
    height: 100%;
    width: 100%
}

.points {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: .5rem;
}

.points:first-of-type {
    margin-bottom: .5rem;
}

.points:first-child {
    margin-top: 1rem;
}

.draw-cards {
    font-size: 1.3rem;
}

.draw-cards:disabled {
    cursor: not-allowed;
}